@model List<AnimalAllViewModel>
@{
    ViewData["Title"] = "My Animals";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any animals yet!</h2>
}
else
{
    <div class="row">
        @foreach (var animal in Model)
        {
            <partial name="_AnimalPartial" model="animal"/>
        }
    </div>
}